{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:prettier/recommended",
    "eslint-config-prettier"
  ],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "rules": {
    "no-console": "off",
    "no-use-before-define": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "comma-dangle": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100
      }
    ]
  },
  "plugins": ["prettier"],
  "globals": {
    "_DEV_": true,
    "fetch": false
  }
}